{% extends 'kod_base.html' %}
{% load static %}

{% block title %} Добавить статью {% endblock %}

{% block content %} 

<form enctype="multipart/form-data" method="post">

{% csrf_token %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}

{% endif %}



<div class='add'>
	<h1>Добавить статью </h1>
	<div class="title">
		{{ form.title }}
		<span>
			<input type="submit" class="btn btn-primary mb-2" value="Опубликовать">
		</span>
	</div>
	<div class="article">
		{{ form.text }}
		<div class="brd" id="image-preview"> 
			<h3> Загрузить изображение </h3>
			  	<img src="" alt="loading..." id="image-preview__image">
			  	<!-- --- For Script. Atrributes (class,id...) identified in forms.py ---- -->
			    <!-- <input required type="file" class="input-file" name="inpFile" accept=".png, .jpg, .jpeg" id="inpFile"> -->
			    {{ form.image }}
			    <label for="inpFile" class="btn btn-primary" id="image-preview__label">
			      <h5>Файл</h5>
			    </label>
			    <img src="{% static 'images/close.png' %}" id='image-remove'>
		</div>		
	</div>
	

	<script>

		// For Img Label (show or hide)
		const inpFile = document.getElementById("inpFile")
		const previewContainer = document.getElementById("image-preview")
		const previewImage = document.getElementById("image-preview__image")
		const previewButton= document.getElementById("image-preview__label")
		const removeImage = document.getElementById("image-remove")

		// For Submit Button Disable
		var form = document.querySelector('form')
		var inputs = document.querySelectorAll('#id_title, #id_text')
		var register = document.querySelector('input[type="submit"]')

		// JS object checking inputs
		const disabledFields = new Object()
		disabledFields.title = true
		disabledFields.text = true
		disabledFields.image = true

		register.addEventListener('submit', ()=>
			{checkOnlyInputs = () => inputs.forEach(function(input, index) {
				if (input.value === '' || !input.value.replace(/\s/g, '').length) {
					disabledFields[input.name] = true
				}
				else {
					disabledFields[input.name] = false
				}
			})
			console.log(disabledFields)
		})

		// Make Submit button active or disable
		checkSubmit = () => {
			if ((!disabledFields.title) && (!disabledFields.text) && (!disabledFields.image))
				register.removeAttribute('disabled')
			 else 
				register.setAttribute('disabled', 'disabled')
			}

		checkSubmit()

		// Show or Hide IMG and checkSubmit() 
		inpFile.addEventListener("change", function() {
			checkSubmit()
			let file = this.files[0]
			if (file) {
				const reader = new FileReader ()
				previewButton.style.display = "none"
				previewImage.style.display = "inline-block"

				reader.addEventListener("load", function () {
					previewImage.setAttribute("src", this.result)
				})

				reader.readAsDataURL(file)

				removeImage.style.display = "inline-block"

				disabledFields.image = false
				checkSubmit()

				removeImage.addEventListener('click', function () {
					inpFile.value = ""
					removeImage.style.display = "none"
					previewImage.style.display = "none"
					previewButton.style.display = "block"

					disabledFields.image = true
					checkSubmit()

				}, false);

			} else {
				previewButton.style.display = null
				previewImage.style.display = null
				previewImage.setAttribute("src", "")
				
				disabledFields.image = true
				checkSubmit()
			}
		})


		// checkSubmit() for fields (title, text)
		form.addEventListener('keyup', function(e) {
			inputs.forEach(function(input, index) {
				if (input.value === '' || !input.value.replace(/\s/g, '').length) {
					disabledFields[input.name] = true
					checkSubmit()
				}
				else {
					disabledFields[input.name] = false
					checkSubmit()
				}
			})
		})
	</script>

</div>
</form>

{% endblock %}