 {% extends 'kod_base.html' %}


{% block content %}

<div class="sign-in">
    <div class="col-md-8 mx-auto sign-in-cont my-2 order-md-1">
        <h1>Чтобы продолжить необходимо авторизоваться</h1>
        <button class="btn btn-info">
            <a href="{% url 'login'%}">OK</a>
        </button>
    </div>
</div>

<script>
    var h = document.getElementById('hat').clientHeight + document.getElementById('hr').clientHeight;
    document.documentElement.style.height = document.documentElement.clientHeight - h +'px'
    document.body.style.height = document.documentElement.clientHeight-h +'px'
</script>

{% endblock %}