<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %} Your Friends {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12 mb-3">
      <h4 class="text-center">Welcome {{ myself.first_name }} {{ myself.last_name }} </h4>
    </div>
        <div class="col-md-6 text-center my-2">
            <img src="{{ myself.photo_200 }}" alt="" width="150" height="150" style="border-radius: 50%">
        </div>
        <div class="col-md-6 social-container my-2">                 
          <p> Auth through Vk </p>
          <p> Login: {{ user.username }} </p>
        </div>
      {% for f in friends %}
        <div class="col-sm-4 mt-2 text-center">
          <img src="{{ f.photo_100 }}">
          <h2><a href="https://vk.com/id{{ f.id }}"> {{ f.first_name }} {{ f.last_name }} </a></h2>
          <h2>{{ f.city.title }} </h2>
              <h2>{% if f.online%} Online
              {% else %} Offline
              {% endif %}</h2>
        </div>
      {% endfor %} 

      <div class="col-sm-12 mt-2 text-center">
        <button class="btn btn-danger">
          <a href="{% url 'logout' %}">Logout</a>
        </button>
    </div>

  </div>
{% endblock %}