.container-fluid {
  height: 100vh;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid > div {
  width: 85%;
  min-width: 300px;
  max-width: 500px;
}
.card {
  width: 100%;
  text-align: center;
}

.card img {
  border: 3px solid #282c34;
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn a, .btn a:hover {
  color: white;
  text-decoration: none;
}

/*FOR blog*/

hr {
  border: none;
  background-color: #CDCDCD;
  height: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
}


.hat {
  /*position: absolute;*/
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
}

.hat img {
  height: 72px;
  position: absolute;
  left: 90px;
}

.hat span {
  margin-left: 270px;
  height:  80px;
  line-height:  80px;
  font-family: "CirceRounded-AltBold";
  font-size: 22px;
}

.hat button {
  height: 32px;
  width: 166px;
  border: none;
  border-radius: 6px;
  background-color: #315AF2;
  float: right;
  margin-top: 26px;
  margin-right: 70px;
}


.add {
  margin-left: 110px;
}

.add h1 {
  margin-top: 60px;
  font-family: "MuseoCyrl";
  font-size: 45px;
  letter-spacing: -0.416667px;
  font-weight: bold;
  color: #315AF2;
}

.add .title {
  margin-top: 40px;
}

.add .title input {
  width: 881px;
  height: 50px;
  display: inline-block;
}

.add .title .btn {
  margin-top: 1px;
  margin-left: 20px;
  width: 159px;
  height: 47px;
  background-color: #E9399C;
  border: none;
  border-radius: 3px;
  display: inline-block;
}

.add .title span {
  font-family: "MuseoCyrl";
  font-size: 18px;
  padding-top: 5px;

}

.add .article {
  margin-top: 40px;
}

.add .article textarea {
  width: 881px;
  height: 500px;
  display: inline-block;
}

.add .article .brd {
  width: 198px;
  height: 135px;
  border: 1px;
  margin-left: 20px;
  border-style: dashed;
  border-color: #CDCDCD;
  padding: 10px; /* Поля вокруг текста */
  display: inline-block;
  vertical-align: top;
}

.add .article .brd h3 {
  font-family: "CirceRounded-AltBold";
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #315AF2;
}

.add .article .brd .btn {
    width: 120px;
    height: 35px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.add .article .brd h5 {
  font-family: "Museo Cyrl";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

/*UPLOAD img*/
.add .article .brd .btn-primary  {
  width: 120px;
  height: 35px;
  background-color: #315AF2;
  border: none;
  border-radius: 3px;
}

/*.add .article .brd .btn-primary {
  height: 32px;
  width: 166px;
  border: none;
  border-radius: 6px;
  background-color: #315AF2;}*/
.add .article .brd .btn-primary: hover,
.add .article .brd .btn-primary: focus {color:#888; border-color:#888}
.add .article .brd .input-file {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index:-1
}
/*.add .article .brd .input-file + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding:0 10px;
  cursor:pointer}
.add .article .brd .input-file + .js-labelFile .icon: before {content:"\f093"}
.add .article .brd .input-file + .js-labelFile.has-file .icon:before {content:"\f00c"; color:#5AAC7B}*/



.add .article .brd .image-preview {
  width:3000px;
  min-height: 100px;
  border: 2px solid #dddddd;
  margin-top: 15px;
}







@font-face {
  font-family: "CirceRounded-AltBold";  
  src: url("../fonts/CirceRounded-AltBold.a3ad633a0983.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
 }

 @font-face {
    font-family: 'MuseoCyrl';
    src: url("../fonts/Museocyrl500.daec729b207d.ttf") format("truetype"); 
    font-style: normal;
    font-weight: normal;
}